{% extends "partials/layout.njk" %}
{% block title %}Login{% endblock %}
{% block content %}
    {% if errors %}
        <ul>
            {% for error in error %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
{% extends "partials/layout.njk" %}
{% block title %}Login{% endblock %}
{% block content %}
{% endif %}
  <form action="/login" method="POST">
    <input type="email" placeholder="Email" name="email">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="Login">
  </form>
{% endblock %}