{% extends "partials/layout.njk" %}
{% block title %}Circle answer{% endblock %}
{% block content %}
    A = πr<sup>2</sup><br>
    A = π{{ r }}<sup>2</sup><br>
    A = π{{ r*r }}<br>
    A = {{ a }}<br>
    C = πr<br>
{% endblock %}