{% extends "partials/layout.njk" %}
{% block title %}Circle answer{% endblock %}
{% block content %}
    <h1>Area </h1>
    A = πr<sup>2</sup><br>
    A = π{{ r }}<sup>2</sup><br>
    A = π{{ r*r }}<br>
    A = {{ a }}<br>

{% endblock %}